.madlib-form ul li label input {
	font-size: 14pt;
	width: 100%;
	color: black;
	border: none;
	border-bottom: 1px solid #111;
	outline: 0;
	display: block;
	margin: 0;
	line-height: 1em;
	text-align: center;
	padding: .5em 1em 0;
	font-family: 'Coming Soon', cursive;
}
.madlib-form ul li label span {
	font-variant: small-caps;
	margin: 0;
	display: block;
	line-height: 1em;
	text-align: center;
	padding: 0 1em;
}

