
.story * {
	line-height: 300%;
}

span.filled-blank {
	display: inline-block;
	vertical-align: -1em;
	font: inherit;
	font-family: 'Indie Flower', cursive;
	background: transparent;
	border: none;
	outline: 0;
	margin: 0;
	line-height: 1em;
	text-align: center;
}

span.filled-blank span.pos {
	font-family: sans-serif;
	font-variant: small-caps;
	font-size: smaller;
	color: #444;
	margin: 0;
	display: block;
	border-top: 1px solid black;
	line-height: 1em;
	text-align: center;
	padding: 0 1em;
}