html, body {
  background: #222222;
}

/* main */

.main {
    font-family: sans-serif;
    width: 550px;
    padding: 25px;
    background: #FFE;
    margin: 1em auto 0;
    box-shadow: -10px 10px 5px #888888;
}
